*.dep
*.depend
*.lo
*.la
cscope.*
tags
*.taghl
*.o
*.d
*.elf
*.obj
*.ncb
*x86.suo
*.user
*.layout
ts_map.txt
montage-tech/lib/win32/sim_mdl.lib
montage-tech/config_prj/dvbc/concerto/rabi/demo/*_x86/flash.bin
montage-tech/config_prj/core/core_ap_mdl/
montage-tech/config_prj/core/core_jasmine/core_ap_mdl/bin/
montage-tech/config_prj/core/core_jasmine/core_jasmine_drv_open/bin/
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_x86/Debug/
montage-tech/config_prj/other/sim_mdl/Debug/
montage-tech/lib/lib_concerto/libcore_jasmine_drv_open.a
montage-tech/lib/lib_mips24k/libcore_ap_mdl.a
montage-tech/config_prj/core/core_jasmine/core_ap_mdl/core_ap_mdl.layout
montage-tech/config_prj/core/core_jasmine/core_jasmine_drv_open/core_jasmine_drv_open.layout
montage-tech/config_prj/dvbc/concerto/rabi/demo/*/rabi/release/
montage-tech/config_prj/dvbc/concerto/rabi/demo/*/rabi/rabi.layout
montage-tech/prj/dvbc/rabi/ss_tool_storm/Debug/
montage-tech/config_prj/dvbc/concerto/rabi/demo/*/rabi_dtmb/release/
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_dtmb_by/*/release/
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_dtmb_by/*/rabi.layout
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_by/rabi/release/
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_quanzhi/*/release/
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_quanzhi/*/rabi.layout
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_ota/rabi_ota/rabi_ota.layout
montage-tech/config_prj/dvbc/concerto/rabi/demo/rabi_ota/rabi_ota/release/
montage-tech/config_prj/dvbc/concerto/rabi/*/*/*/release/binary/*
montage-tech/config_prj/dvbc/concerto/rabi/*/*/*/release/*
montage-tech/config_prj/dvbc/concerto/avs+_rabi/*/*/*/release/*
si35
